# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc
*.pyo
.Python
.env
# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Django specific
*.sqlite3
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Git
.git/
